
@font-face {
  font-family: 'Langdon';
  src: url('Langdon.eot?#iefix') format('embedded-opentype'),  url('Langdon.otf')  format('opentype'),
	     url('Langdon.woff') format('woff'), url('Langdon.ttf')  format('truetype'), url('Langdon.svg#Langdon') format('svg');
  font-weight: normal;
  font-style: normal;
}
